body {
    margin-left: 44%;
    margin: 0;
}


header {
    width: 330px;
    height: 100%;
    margin-top: -20px;
    position: fixed;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(60, 81, 106);
}


nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    margin-top: 400px;
  
  
}

nav ul li {
    justify-content: center;
    align-items: center;
    padding: 10%;
    
 
    
    
}
nav ul li a {
    color: rgba(255, 255, 255, 0.669);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

main {
    display: block;
    margin-left: 44%;
}

#container {
    background-color: black;
    border-radius: 5%;

}
